{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-12">
    <div>
      <h4>Scoreboard</h4>
			<table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">Pseudo</th>
            <th scope="col">Website</th>
            <th scope="col">Points</th>
          </tr>
        </thead>
        <tbody>
					{% for s in scores %}
					<tr>
							<th scope="row"># {{ forloop.counter0|add:scores.start_index }}</th>
							<th>{{ s.user.username }}</th>
							<td>
                                                                {% if s.user.userprofileinfo.portfolio_site %}
                                                                <a href="{{ s.user.userprofileinfo.portfolio_site }}">{{ s.user.userprofileinfo.portfolio_site }}</a>
                                                                {% endif %}
                                                        </td>
							<td>{{ s.user.userprofileinfo.score }}</td>
          </tr>
					{% endfor %}
        </tbody>
      </table>

<div class="pagination">
    <span class="step-links">
        {% if score.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ score.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ scores.number }} of {{ scores.paginator.num_pages }}.
        </span>

        {% if scores.has_next %}
            <a href="?page={{ scores.next_page_number }}">next</a>
            <a href="?page={{ scores.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

		</div>
  </div>
</div>
{% endblock %}

