{% extends 'base.html' %}
{% block content %}
<div class="row">
        <div class="col-lg-9 col-sm-12 news-card">
                {% if news %}
                {% for n in news %}
                <div class="card text-center news-card">
                        <div class="card-body">
                                <h5 class="card-title">{{ n.name|safe }}</h5>
                                <p class="card-text">{{ n.content|safe }}</p>
                        </div>
                        <div class="card-footer text-muted">
                                {{ n.pub_date }}
                        </div>
                </div>
                {% endfor %}
                {% else %}
                <p class="text-center">No article available.</p>
                {% endif %}
        </div>
        <div class="col-lg-3 col-sm-12 right-sidebar">
                <ul class="list-group">
                        <li class="list-group-item active">Latest challenges added</li>
                        {% if ctfs %}
                        {% for ctf in ctfs %}
			<a class="list-group-item" href="/ctfs/{{ ctf.category.slug }}/{{ ctf.slug }}">{{ ctf.name }}</a>
                        {% endfor %}
                        {% else %}
                        <li class="list-group-item">No ctf available.</li>
                        {% endif %}
                </ul>
                <ul class="list-group">
                        <li class="list-group-item active">Top 10</li>
                        {% for t in top %}
                        <li class="list-group-item"># {{ forloop.counter }} {{ t.user.username }} <span style="position:absolute;right: 15px;">{{ t.score }}</span></li>
                        {% endfor %}
                </ul>
        </div>
</div>
{% endblock %}

