{% extends 'base.html' %}
{% block content %}
<div class="row">
        <div class="col-sm-12 col-md-9">
                <div class="ctf-block">
                        <div class="ctf-head">
                                <h3>Login</h3>
                        </div>
                        <div class="ctf-body">
                            <div class="col-sm-8 col-md-6 mx-auto">
                                    {% if error %}
                                    <p>Please, verify your infos.</p>
                                    {% endif %}
                                    <form method="post">
                                            {% csrf_token %}
                                                <div class="form-group">
                                            <input class="form-control" type="text" name="username" placeholder="Username"></br>
                                            <input class="form-control" type="password" name="password" placeholder="Password"></br>
                                            <input class="form-control" type="submit" value="login">
                                        </div>
                                    </form>
                            </div>
                        </div>
                </div>

        </div>
        <div class="col-sm-12 col-md-3 right-sidebar">
                <ul class="list-group">
                        <a href="/accounts/signin" class="list-group-item">Login</a>
                        <a href="/accounts/signup" class="list-group-item">Sign up</a>
                </ul>
        </div>
</div>
{% endblock %}

